@import "./css3";
/*����ҳ��*/
@-webkit-keyframes facein{
	0%{
		opacity:0;	
	}
	100%{
		opacity:1;
	}
}

@-moz-keyframes facein{
	0%{
		opacity:0;	
	}
	100%{
		opacity:1;
	}
}
@-o-keyframes facein{
	0%{
		opacity:0;	
	}
	100%{
		opacity:1;
	}
}
@-ms-keyframes facein{
	0%{
		opacity:0;	
	}
	100%{
		opacity:1;
	}
}
@keyframes facein{
	0%{
		opacity:0;	
	}
	100%{
		opacity:1;
	}
}


/*ͷ�񶶶�*/
@-webkit-keyframes shake{
	0%{
		.transform (-3deg, 1, 1deg, 0);
	}
	20%{
		.transform (6deg, 1, 1deg, 0);
	}
	40%{
		.transform (-6deg, 1, 1deg, 0);
	}
	60%{
		.transform (6deg, 1, 1deg, 0);
	}
	80%{
		.transform (-6deg, 1, 1deg, 0);
	}
	100%{
		.transform (3deg, 1, 1deg, 0);
	}
}

@-moz-keyframes shake{
	0%{
		.transform (-3deg, 1, 1deg, 0);
	}
	20%{
		.transform (6deg, 1, 1deg, 0);
	}
	40%{
		.transform (-6deg, 1, 1deg, 0);
	}
	60%{
		.transform (6deg, 1, 1deg, 0);
	}
	80%{
		.transform (-6deg, 1, 1deg, 0);
	}
	100%{
		.transform (3deg, 1, 1deg, 0);
	}
}
@-o-keyframes shake{
	0%{
		.transform (-3deg, 1, 1deg, 0);
	}
	20%{
		.transform (6deg, 1, 1deg, 0);
	}
	40%{
		.transform (-6deg, 1, 1deg, 0);
	}
	60%{
		.transform (6deg, 1, 1deg, 0);
	}
	80%{
		.transform (-6deg, 1, 1deg, 0);
	}
	100%{
		.transform (3deg, 1, 1deg, 0);
	}
}
@-ms-keyframes shake{
	0%{
		.transform (-3deg, 1, 1deg, 0); 
	}
	20%{
		.transform (6deg, 1, 1deg, 0);
	}
	40%{
		.transform (-6deg, 1, 1deg, 0);
	}
	60%{
		.transform (6deg, 1, 1deg, 0);
	}
	80%{
		.transform (-6deg, 1, 1deg, 0);
	}
	100%{
		.transform (3deg, 1, 1deg, 0);
	}
}

@keyframes shake{
	0%{
		.transform (-3deg, 1, 1deg, 0); 
	}
	20%{
		.transform (6deg, 1, 1deg, 0);
	}
	40%{
		.transform (-6deg, 1, 1deg, 0);
	}
	60%{
		.transform (6deg, 1, 1deg, 0);
	}
	80%{
		.transform (-6deg, 1, 1deg, 0);
	}
	100%{
		.transform (3deg, 1, 1deg, 0);
	}
}